# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Env vars
.envrc

# LLMs
AGENTS.md
CONVENTIONS.md

# Emacs runtime stuff
auto-save-list/*
elpa/*
eln-cache/*
history
transient/history.el