# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Env vars
.envrc

# LLMs
AGENTS.md
CONVENTIONS.md

# Org
org-roam.db

# Dependencies and compilation
/elpa/
/eln-cache/
/straight/
/quelpa/
/elpaca/
/tree-sitter/

# State and history (no-littering puts state under var/ and etc/)
/auto-save-list/
/server/
*.elc
recentf
history
transient/history.el
/var/
/etc/
/elfeed-db/
/persp-confs/
/custom.el
/.org-id-locations
/projectile-bookmarks.eld
/.agent-shell/

docs/*